<%- include('partials/header2.ejs') %> 

<div style="background-color: #444;">
<div class="container">

<div class="album py-5 bg-light">
    <div class="container" >
        
        
        <h3 style="color: white;text-align: center;margin-top: 80px;" class="artiststitle"><%= nationality %> <%= gender %> Solo</h3>
        <div class="row">
            <% artists.forEach(function(artist){ %>
        
            <div class="col-xl-3 ">
                <div style="float: left;margin-right: 30px;">
                    <button style="background-color: #444;border: none;"><a style="background-color: #444;" href="/artists/<%= artist._id %>"><img style="border-radius: 50%;" class="image-artist" src='<%= artist.image %>' width="140" height="140" ></a></button>
                        <h4 style="color: white;"><%= artist.artistname %></h4>
                </div>
       
            </div>
            <% }); %>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
       
        
      
    </div>
</div>
      
<%- include('partials/footer.ejs') %>